nav {
    display: grid;
    grid-template-rows: 100% ;
    grid-template-columns: 5% 72% 9% 8% 6%;
    border-bottom: black solid 1px;
}

header {
    background: #FCFEFD;
}

html, body
{
    background-color: #FCFEFD;
    height: 100%;
    margin: 0;


}

#logo {
    height :100%;
    width : 100%;
    padding-left: 17%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

h1
{
    margin-top: 2.6%;
    margin-left: 1.6%;
    font-family: 'Lexend Mega';
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

#Chatbox {
    margin-top: 23.5%;
    font-family: 'Lexend Mega';
    font-weight: bold;
    font-size: 15px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

a:link,
a:visited {
    text-decoration: none;
    color: black;
}

#about {
    margin-top: 27%;
    font-family: 'Lexend Mega';
    font-weight: bold;
    font-size: 15px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}

#logo_connexion {
    padding-top: 25%;
    height: 42%;
    width: 38%;
    cursor: pointer;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;
    padding-left: 10%;
}

.profile-menu {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 85%;
    right: 35%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 4px;
    font-family: 'Lexend Mega';
    font-weight: bold;
    font-size: 12px;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.profile-menu:hover .dropdown-menu {
    display: block;
}

/*CSS Page*/

#container
{
    width: 95%;
    height: 25%;
    margin-top: 3%;
    margin-left: 2.5%;
    justify-self: center;
    background-color: #F5F5F5;
    border-radius: 15px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 44% 24%;
}

.image-container {
    width: 35%;
    height: 75%;
    margin-top: 4.5%;
    margin-left: 9%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#circle
{
    width: 20%;
    height: 50%;
    background-color: white;
    border-radius: 50%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 4.5%;
    margin-left: 57%;

}

#circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#name
{
    font-family: 'Lexend Mega';
    font-size: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 62.15%;
    margin-top: 26%;
}

#surname
{
    font-family: 'Lexend Mega';
    font-size: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 59%;
    margin-top: 29.5%;
}

#age
{
    font-family: 'Lexend Mega';
    font-size: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 56%;
    margin-top: 33%;
}

.ligne-verticale {
    border-left: 1px solid lightgrey;
    height: 80%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 3.7%;
    margin-left: 93%;
}

#info_house, ul, li
{
    font-family: 'Lexend Mega';
    font-size: 95%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 1%;
}

.ligne-verticale_2 {
    border-left: 1px solid lightgrey;
    height: 80%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 2.7%;
    margin-left: 45%;
}

#Party
{
    font-family: 'Lexend Mega';
    font-size: 14px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 4%;
    margin-left: 49%;
}

#Garden
{
    font-family: 'Lexend Mega';
    font-size: 14px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 8%;
    margin-left: 49%;
}

#Cleaning
{
    font-family: 'Lexend Mega';
    font-size: 14px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 12%;
    margin-left: 49%;
}

.ligne-verticale_3 {
    border-left: 1px solid lightgrey;
    height: 80%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 2.7%;
    margin-left: 100%;
}

.button
{
    background-color: #E18B42;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Lexend Mega';
    width: 60%; /* Ajuster la largeur des boutons */
    height: 30%;
    text-align: center;
    margin-left: 17.5%;
    margin-top: 13%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}