/*CSS Header*/

nav
{
    display: grid;
    grid-template-rows: 100px ;
    grid-template-columns: 100px 1400px 169px;
}

header {
    background: #FCFEFD;
}

#image {
    height: 100px;
    width: 100px;
    padding-left: 10px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}


h1 {
    margin-top: 35px;
    margin-left: 15px;
    font-family: 'Lexend Mega';
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}


#home
{
    margin-top: 40px;
    font-family: 'Lexend Mega';
    font-weight: bold;
    margin-left: 300px;
    font-size: 15px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

a:link,
a:visited
{
    text-decoration: none;
    color: black;
}

/*CSS page*/

body {
    background-color: #F5F5F5;
    font-family: 'Lexend Mega';
    margin: 0;
    }

#imageContainer {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Créer un conteneur rond */
    overflow: hidden;
    border: 2px solid #ccc;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
}

#imageContainer img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Assurer que l'image est aussi ronde que son conteneur */
}

#name
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
    margin-top: 20px;

}

#surname
{   grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;


}

#button
{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;

}

input[type="file"] {
    color: transparent;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 40px;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
}

input[type="file"]::before {
    content: 'Changer sa photo de profil'; /* Changer le texte de l'input */
    color: white;
    display: inline-block;
    background-color: #E18B42;
    border: none;
    border-radius: 5px;
    font-size: 8.5px;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    pointer-events: none;
    width: 100%;
    font-family: 'Lexend Mega';

}

#button2[type="file"] {
    color: transparent;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 40px;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
}

#button2[type="file"]::before {
    content: 'Changer la photo'; /* Changer le texte de l'input */
    color: white;
    display: inline-block;
    background-color: #E18B42;
    border: none;
    border-radius: 5px;
    font-size: 8.5px;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    pointer-events: none;
    width: 100%;
    font-family: 'Lexend Mega';
}

#Container_profil
{
    display: grid;
    grid-template-rows: 200px 50px 40px 50px;
    grid-template-columns: 300px;
    justify-self: center;
    margin-top: 30px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ligne-verticale {
    border-left: 2px solid #F5F5F5;
    height: 300px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 50px;
}

#rectangle_name
{
    width: 940px;
    height: 390px;
    margin-top: 25px;
    margin-left: 60px;
    border-radius: 5px;
    background-color: white;
    justify-content: center;
    top: 135px;
    display: grid;
    grid-template-rows: 390px;
    grid-template-columns: 400px 540px;

}

#announce
{
    width: 800px;
    height: 390px;
    position: absolute;
    left: 55%;
    top: 125px;
    background-color: white;
    display: grid;
    grid-template-rows: 80px 290px;
    grid-template-columns: 800px;
}

#title_explanation
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 70px;
}

#announce h4
{
    justify-self: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lexend Mega';


}

.button_ad
{
    background-color: #E18B42;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Lexend Mega';
    width: 400px; /* Ajuster la largeur des boutons */
    text-align: center;
}

#button_ad_container
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 200px;
}

#rental_condition
{
    position: absolute;
    width: 800px;
    height: 390px;
    border-radius: 5px;
    background-color: white;
    justify-content: center;
    left: 55%;
    top: 540px;
    display: grid;
    grid-template-rows: 85px 50px 50px 50px 50px;
    grid-template-columns: 800px;
}

#house_rectangle
{
    width: 940px;
    height: 390px;
    border-radius: 5px;
    background-color: white;
    justify-content: center;
    display: grid;
    grid-template-rows: 75px 240px 40px;
    grid-template-columns: 940px;
    margin-top: 25px;
    margin-left: 60px;

}

#house_rectangle h3
{
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lexend Mega';
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}

#House_picture
{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 2px solid #ccc;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 80px;
}

#container_house
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top:20px;
    margin-left: 350px;
}



#House_picture img
{
    width: 100%;
    height: auto;
}

#button2
{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 100px;
}

#rental_condition h2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lexend Mega';
    justify-self: center;


}

#Party
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 30px;
}

#Garden
{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 30px;
}


.button-container
{

    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    margin-top: 100px;
    }

.button
{
    background-color: #E18B42;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Lexend Mega';
    width: 400px; /* Ajuster la largeur des boutons */
    text-align: center;


}

