/*CSS Header*/

nav
{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 4% 91% 2%;
}

header {
    background: #FCFEFD;

}

#image {
    height :100%;
    width : 95%;
    padding-left: 10%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}


h1 {
    margin-top: 1.5%;
    font-family: 'Lexend Mega';
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}


#home
{
    margin-top: 80%;
    font-family: 'Lexend Mega';
    font-weight: bold;
    font-size: 15px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

a:link,
a:visited
{
    text-decoration: none;
    color: black;
}

/*CSS page*/

body {
    background-color: #F5F5F5;
    font-family: 'Lexend Mega';
    margin: 0;
    padding: 0;


}

#grid
{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    justify-self: center;
    align-self: center;
}

#imageContainer {
    width: 75%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
}

#imageContainer img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

#name
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
    margin-top: 7%;

}

#surname
{   grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;


}

#button
{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;

}

input[type="file"] {
    color: transparent;
    width: 55%;
    height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 40px;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
}

input[type="file"]::before {
    content: 'Change profile picture';
    color: white;
    display: inline-block;
    background-color: #E18B42;
    border: none;
    border-radius: 5px;
    font-size: 8.5px;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    pointer-events: none;
    width: 100%;
    font-family: 'Lexend Mega';

}

#button2[type="file"] {
    color: transparent;
    width: 15%;
    height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 40px;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
}

#button2[type="file"]::before {
    content: 'Change photo';
    color: white;
    display: inline-block;
    background-color: #E18B42;
    border: none;
    border-radius: 5px;
    font-size: 8.5px;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    pointer-events: none;
    width: 100%;
    font-family: 'Lexend Mega';
}

#Container_profil
{
    display: grid;
    grid-template-rows: 63% 14% 8% 13%;
    grid-template-columns: 100%;
    justify-self: center;
    margin-top: 7%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ligne-verticale {
    border-left: 2px solid #F5F5F5;
    height: 75%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 9%;
}

#rectangle_name
{
    width: 100%;
    height: 100%;
    margin-top: 2.5%;
    margin-left: 3%;
    border-radius: 5px;
    background-color: white;
    justify-content: center;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 36% 60%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}

#announce
{
    width: 84%;
    height: 100%;
    margin-left: 10%;
    margin-top: 2.5%;
    background-color: white;
    display: grid;
    grid-template-rows: 23% 75%;
    grid-template-columns: 100%;
    border-radius: 5px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

}

#title_explanation
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 21%;
    margin-top: 1%;
}

#explanation
{
    margin-left: 12%;
    margin-top: 1.5%;
}

#announce h4
{
    justify-self: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lexend Mega';


}

.button_ad
{
    background-color: #E18B42;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Lexend Mega';
    width: 80%;
    text-align: center;
}

#button_ad_container
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 19%;
}

#rental_condition
{
    width: 84%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    margin-left: 10%;
    margin-top: 5%;
    display: grid;
    grid-template-rows: 22% 15% 15% 15% 15%;
    grid-template-columns: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

#house_rectangle
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    justify-content: center;
    display: grid;
    grid-template-rows: 15% 62% 11%;
    grid-template-columns: 100%;
    margin-top: 5%;
    margin-left: 3%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#house_rectangle h3
{
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lexend Mega';
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}

#House_picture
{
    width: 19%;
    height: 78%;
    overflow: hidden;
    border: 2px solid #ccc;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 8.5%;
}

#container_house
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 35%;
    margin-top: 2%;
}



#House_picture img
{
    width: 100%;
    height: auto;
    object-fit: cover;
}

#button2
{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 9.5%;
}

#rental_condition h2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lexend Mega';
    justify-self: center;
    margin-top: 2.5%;


}

#Party
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 4%;
}

#Garden
{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 4%;
}

#Cleaning
{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 4%;
}


.button-container
{

    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    margin-top: 14%;
    margin-left: 5%;
}

.button
{
    background-color: #E18B42;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Lexend Mega';
    width: 100%;
    text-align: center;


}